h1 {
  font-size: 13px;
  font-weight: 900;
  color: rgba(51, 51, 51, 0.7);
  position: relative;
  display: inline-block; }
  h1 span {
    color: #333333;
    display: block;
    font-size: 26px;
    letter-spacing: 1px;
    margin-top: 10px; }
  h1:before {
    width: 25%;
    height: 1px;
    top: 150%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #333333;
    content: ''; }

h3 {
  font-weight: 900;
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 40px; }
  h3 span {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
    padding-left: 10px; }

.clearfix {
  clear: both; }

.font-weight900 {
  font-weight: 900; }

.line-height18 {
  line-height: 1.8; }

.margin-b20 {
  margin-bottom: 20px; }

.margin-b30 {
  margin-bottom: 30px; }

.padding-tb70 {
  padding: 70px 0; }

.padding-left30 {
  padding-left: 30px; }

.text-center {
  text-align: center; }

.wrap {
  width: 1250px;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.pageWrap .pageMenu nav {
  margin-bottom: 30px; }
  .pageWrap .pageMenu nav a {
    color: #333333;
    padding: 0 25px;
    position: relative;
    -webkit-transition: .5s;
    transition: .5s; }
    .pageWrap .pageMenu nav a:before {
      width: 60%;
      height: 2px;
      top: 100%;
      left: 50%;
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background: #b7985b;
      content: '';
      -webkit-transition: .5s;
      transition: .5s;
      opacity: 0; }
  .pageWrap .pageMenu nav .current {
    color: #b7985b; }
    .pageWrap .pageMenu nav .current:before {
      top: 160%;
      opacity: 1; }

.aboutSection {
  padding: 50px 0;
  background: url("https://www.dahuandesign.com/images/bg02.jpg"); }
  .aboutSection .img {
    float: left;
    width: 40%; }
    .aboutSection .img img {
      width: 100%; }
  .aboutSection .text {
    float: left;
    width: 60%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 50px; }

.mediaSection {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background: url("https://www.dahuandesign.com/images/bg02.jpg"); }
  .mediaSection .post {
    float: left;
    width: 33%;
    margin-bottom: 50px; }
    .mediaSection .post .text {
      color: #444; }

.qusition .faqList li {
  margin-bottom: 15px;
  padding: 5px;
  border-bottom: 1px solid #ccc; }
  .qusition .faqList li h3 {
    position: relative;
    padding: 10px 5px;
    font-weight: 900;
    font-size: 15px;
    color: #474747;
    cursor: pointer; }
  .qusition .faqList li a.toggleOpen {
    position: absolute;
    right: 5px;
    top: 50%;
    display: block;
    margin-top: -13px;
    padding: 4px 8px;
    font-size: 13px;
    color: #fff;
    background-color: #b7985b;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .qusition .faqList li .definition {
    display: none;
    margin-top: 10px;
    padding: 15px;
    font-size: 14px;
    color: #686868;
    line-height: 1.8;
    background-color: #e7e7e7; }
  .qusition .faqList li .textEditor {
    clear: both;
    font-size: 15px;
    color: #444;
    line-height: 1.8; }

/*# sourceMappingURL=page.css.map */
